<!-- Participated.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Participated</title>
    <!-- Add your head content here -->
</head>
<body>
    <div>
        <!-- Display the participated message -->
        <center style="margin:100px 0 50px 0; font-size:30px; color:red">@ViewBag.participated</center>
        <center>
            @Html.ActionLink("Go To Home", "Index", "Home")
        </center>
    </div>
    <!-- Add your body content here -->
</body>
</html>