@model EnvironmentalProtectionSurvey.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />

<h3>@ViewBag.msg</h3>
<h3>@ViewBag.confirmPassword</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Email: </label>
                <input name="email" value="@(Model?.Email)" readonly class="form-control" />
            </div>


            <div class="form-group">
                <label  class="control-label">Password</label>
                <input asp-for="Password" name="password" type="password" placeholder="Enter your password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input name="confirmPassword" type="password" placeholder="Enter cofirm password" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

