@model EnvironmentalProtectionSurvey.Models.Survey

@{
    ViewData["Title"] = "Hide Survey";
}

<nav class="navbar default-layout">
    <div class="navbar-menu-wrapper d-flex align-items-top">
        <h1>Delete Survey?</h1>
    </div>
    <h3>Are you sure you want to hide @Model.Title?</h3>
</nav>

<div>
    <form asp-action="Hide">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
