@model EnvironmentalProtectionSurvey.Models.QuestionContest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutBE.cshtml";
}

<h1>Edit</h1>

<h4>QuestionContest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ContestId" class="control-label"></label>
                <select asp-for="ContestId" class="form-control" asp-items="ViewBag.ContestId"></select>
                <span asp-validation-for="ContestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerOptions" class="control-label"></label>
                <input asp-for="AnswerOptions" class="form-control" />
                <span asp-validation-for="AnswerOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
